<div class="container">
    <div class="left-component">
        <h1>Twój profil</h1>
        <h2>{{email}}</h2>
        <form>
            <div class="form-group">
                <label for="address">Adres</label>
                <input type="text" class="form-control" id="address" [(ngModel)]="address" [ngModelOptions]="{standalone: true} " >
                <label for="postcode">Kod pocztowy</label>
                <input type="text" class="form-control" id="postcode" [(ngModel)]="postcode" [ngModelOptions]="{standalone: true} " >
                <label for="city">Miejscowość</label>
                <input type="text" class="form-control" id="city" [(ngModel)]="city" [ngModelOptions]="{standalone: true} " >
            </div>
        </form>
        <p style="font-size: 1.2em;">{{msg}}</p>
        <button type="button" style="margin-top: 10px;" class="btn btn-dark" (click)="save()">Zapisz zmiany</button>
    </div>
    <div class="right-component">
        <p style="font-size:2em">Historia zamówień</p>
        <div class="orders" *ngIf="zamowienia">
            <div *ngFor="let z of zamowienia">
                <div class="date">
                    Data: {{z.date}}<br>
                    Adres zamówienia/odbioru: {{z.address}}<br>
                    Cena: {{z.cost}}
                </div>
                <div *ngFor="let p of z.order_products">
                    <div>
                        {{dishNames.get(p.dish_id)}} {{p.size}} x {{p.quantity}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

