<div class="homeWrapper">
    <div class="logo">
        <h1>PizzApp</h1>
    </div>
    <p> Zamów pizzę online i ciesz się wyjątkowym smakiem bez wychodzenia z domu! </p>
    <mat-tab-group class="restaurants-tab">
        <mat-tab label="ul. Królowej Jadwigi 184">
            <div class="restaurant">
                <div>
                    <h2>Godziny otwarcia</h2>
                    <ul>
                        <li>Pn-Pt: 8.00 - 20.00</li>
                        <li>Sb: 9.00 - 18.00</li>
                        <li>Nd: 9.00 - 16.00</li>
                    </ul>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d761.4768924815417!2d19.887492324431804!3d50.06207874102223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b47af77fbe5%3A0x109b5f024cb237e9!2sRestauracja%20Wola%20Verde!5e0!3m2!1spl!2spl!4v1711017439859!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="ul. Skarżyńskiego 7">
            <div class="restaurant">
                <div>
                    <h2>Godziny otwarcia</h2>
                    <ul>
                        <li>Pn-Sb: 9.00 - 18.00</li>
                        <li>Nd: zamknięte</li>
                    </ul>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10240.104870686471!2d19.9972177!3d50.085796!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b013cc42ed5%3A0x882895a29484c450!2sPizzeria%20Babilon%20Nowa%20Huta!5e0!3m2!1spl!2spl!4v1684428272990!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="ul. Witolda Budryka 2">
            <div class="restaurant">
                <div>
                    <h2>Godziny otwarcia</h2>
                    <ul>
                        <li>Pn-Pt: 10.00 - 22.00</li>
                        <li>Sb-Nd: 12.00 - 18.00</li>
                        <li>Nd: 12.00 - 16.00</li>
                    </ul>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10243.947381863569!2d19.9070691!3d50.067808!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165bbbc6132915%3A0xb1a7a04a1a016ee!2sBabilon%20Pizzeria!5e0!3m2!1spl!2spl!4v1684427857405!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <footer>
        <h2>Pizzeria</h2>
        <p>Tel.: 123 456 789</p>
        <p>Adres email: pizzeria01@gmail.com</p>
    </footer>
</div>
