<div class="back" style="display:flex; cursor:pointer"(click)="goBack()">
    <fa-icon [icon]="faChevronLeft" size="lg"(click)="goBack()"></fa-icon>
    <p>Wróć</p>
</div>
<div style="margin:0.8em;">
<h2>Edycja</h2>
<form>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true} " >
        <label for="ingredients">Składniki</label>
        <input type="text" class="form-control" id="ingredients" [(ngModel)]="ingredients" [ngModelOptions]="{standalone: true} " >
        <label for="price">Cena</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="price" [ngModelOptions]="{standalone: true} " >
        <label for="description">Opis</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true} ">
        <label for="photos">Linki do zdjęć (oddzielone przecinkiem)</label>
        <input type="text" class="form-control" id="photos" [(ngModel)]="link_to_photos" [ngModelOptions]="{standalone: true} ">
    </div>
</form>
<p style="font-size: 1.2em;">{{msg}}</p>
<button type="button" style="margin-top: 10px;" class="btn btn-dark" (click)="save()">Zapisz zmiany</button>
</div>